.macbook-pro {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1728px;
  min-height: 9224px;
  position: relative;
}

.macbook-pro .rectangle {
  position: absolute;
  top: -41px;
  left: calc(50.00% - 876px);
  width: 1753px;
  height: 995px;
  background-color: #fbfbfb;
}

.macbook-pro .div {
  position: absolute;
  top: 3426px;
  left: calc(50.00% - 906px);
  width: 1770px;
  height: 1031px;
  background-color: #fbfbfb;
}

.macbook-pro .frame {
  display: flex;
  flex-direction: column;
  width: 1724px;
  height: 1021px;
  align-items: flex-start;
  gap: 10px;
  padding: 107px 357px 846px 356px;
  position: absolute;
  top: 7048px;
  left: 4px;
  background-color: #fbfbfb;
}

.macbook-pro .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1057px;
  align-items: center;
  gap: 89px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -46px;
}

.macbook-pro .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .ellipse {
  position: absolute;
  top: -363px;
  left: calc(50.00% - 821px);
  width: 1633px;
  height: 595px;
  background-color: #4897ff;
  border-radius: 816.5px / 297.5px;
  filter: blur(100px);
}

.macbook-pro .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 284px;
  position: absolute;
  top: 48px;
  left: 568px;
}

.macbook-pro .navbar {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-4 {
  display: flex;
  flex-direction: column;
  width: 849px;
  align-items: center;
  gap: 49px;
  position: absolute;
  top: 330px;
  left: 435px;
}

.macbook-pro .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-6 {
  position: relative;
  width: 508px;
  height: 71px;
}

.macbook-pro .frame-7 {
  display: flex;
  width: 240px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 28px 23px 27px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4897ff;
  border-radius: 50px;
  box-shadow:
    -1px 7px 17px #0000001a,
    -3px 30px 30px #00000017,
    -7px 68px 41px #0000000d,
    -13px 120px 48px #00000003,
    -20px 188px 53px transparent;
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}

.macbook-pro .text-wrapper-7 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--colors-grays-gray-6);
  font-size: 20px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-8 {
  display: flex;
  width: 240px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 28px 23px 27px;
  position: absolute;
  top: 0;
  left: 268px;
  background-color: #4897ff;
  border-radius: 50px;
  box-shadow:
    -1px 7px 17px #0000001a,
    -3px 30px 30px #00000017,
    -7px 68px 41px #0000000d,
    -13px 120px 48px #00000003,
    -20px 188px 53px transparent;
}

.macbook-pro .trust-section {
  display: flex;
  flex-direction: column;
  width: 1753px;
  height: 803px;
  align-items: flex-start;
  gap: 10px;
  padding: 256px 359px 256px 361px;
  position: absolute;
  top: 954px;
  left: -12px;
  background-color: #181818;
}

.macbook-pro .trust-social-teks {
  display: flex;
  flex-direction: column;
  width: 1033px;
  align-items: center;
  gap: 113px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(72, 151, 255, 0.88) 47%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  height: 23px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .frame-10 {
  display: inline-flex;
  align-items: flex-end;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .frame-11 {
  display: flex;
  flex-direction: column;
  width: 195px;
  align-items: center;
  position: relative;
}

.macbook-pro .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-12 {
  display: flex;
  flex-direction: column;
  width: 195px;
  align-items: center;
  gap: 1px;
  position: relative;
}

.macbook-pro .problem {
  display: flex;
  flex-direction: column;
  width: 1753px;
  height: 861px;
  align-items: flex-start;
  gap: 10px;
  padding: 166px 247px 161px 246px;
  position: absolute;
  top: 1757px;
  left: -12px;
  background-color: #fbfbfb;
}

.macbook-pro .frame-13 {
  display: flex;
  flex-direction: column;
  width: 1260px;
  align-items: center;
  gap: 21px;
  padding: 132px 0px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-12 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 782px;
  height: 95px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .teks-solusi-wrapper {
  display: flex;
  flex-direction: column;
  width: 1728px;
  height: 793px;
  align-items: flex-start;
  gap: 10px;
  padding: 241px 389px 195px 403px;
  position: absolute;
  top: 2633px;
  left: 0;
  background-color: #fbfbfb;
}

.macbook-pro .teks-solusi {
  display: flex;
  flex-direction: column;
  width: 948px;
  align-items: center;
  gap: 73px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -12px;
}

.macbook-pro .frame-14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.macbook-pro .CLEANFLOW-brings {
  position: relative;
  width: 931px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-15 {
  display: flex;
  width: 679px;
  height: 90px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 28px 113px 29px;
  position: relative;
  background-color: #4897ff;
  border-radius: 50px;
}

.macbook-pro .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -4px;
  margin-bottom: -2px;
  margin-left: -77px;
  margin-right: -77px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-14 {
  position: absolute;
  top: 4735px;
  left: 358px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #373737;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-16 {
  display: flex;
  flex-direction: column;
  width: 1724px;
  height: 1355px;
  align-items: flex-start;
  gap: 10px;
  padding: 137px 542px 1058px 453px;
  position: absolute;
  top: 5693px;
  left: 2px;
  background-color: #fbfbfb;
}

.macbook-pro .frame-17 {
  display: flex;
  flex-direction: column;
  width: 729px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper-15 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-16 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-17 {
  position: absolute;
  top: 3800px;
  left: calc(50.00% - 158px);
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-18 {
  position: absolute;
  top: 3829px;
  left: calc(50.00% - 422px);
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .whether-you-clean {
  position: absolute;
  top: 3919px;
  left: calc(50.00% - 537px);
  width: 1075px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .mask-group {
  position: absolute;
  top: 3610px;
  left: 256px;
  width: 224px;
  height: 254px;
}

.macbook-pro .img {
  position: absolute;
  top: 3901px;
  left: 85px;
  width: 169px;
  height: 199px;
}

.macbook-pro .mask-group-2 {
  position: absolute;
  top: 3847px;
  left: 1389px;
  width: 261px;
  height: 291px;
}

.macbook-pro .mask-group-3 {
  position: absolute;
  top: 4133px;
  left: 1115px;
  width: 169px;
  height: 199px;
}

.macbook-pro .mask-group-4 {
  position: absolute;
  top: 4095px;
  left: 389px;
  width: 259px;
  height: 289px;
}

.macbook-pro .mask-group-5 {
  position: absolute;
  width: calc(100% - 1301px);
  top: 3585px;
  left: 1301px;
  height: 219px;
}

.macbook-pro .feature-showcase {
  display: flex;
  flex-direction: column;
  width: 1724px;
  height: 1236px;
  align-items: center;
  gap: 147px;
  padding: 203px 229px 114px 182px;
  position: absolute;
  top: 4457px;
  left: 2px;
  background-color: #fbfbfb;
}

.macbook-pro .rectangle-2 {
  position: relative;
  width: 1101px;
  height: 257px;
  background-color: #fbfbfb;
}

.macbook-pro .frame-18 {
  display: inline-flex;
  align-items: center;
  gap: 70px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .rectangle-3 {
  position: relative;
  width: 391px;
  height: 515px;
  background-color: #d9d9d9;
}

.macbook-pro .text-wrapper-19 {
  position: absolute;
  top: 311px;
  left: calc(50.00% - 283px);
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .section-closing {
  display: flex;
  flex-direction: column;
  width: 1726px;
  height: 1105px;
  align-items: flex-start;
  gap: 10px;
  padding: 338px 11px 337px;
  position: absolute;
  top: 8069px;
  left: 0;
  background-color: #fbfbfb;
}

.macbook-pro .frame-19 {
  display: flex;
  flex-direction: column;
  width: 1704px;
  align-items: center;
  gap: 65px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .frame-20 {
  display: flex;
  flex-direction: column;
  height: 265px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.macbook-pro .READY-TO-WORK-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.macbook-pro .READY-TO-WORK {
  position: relative;
  flex: 1;
  height: 138px;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .span {
  color: #343434;
}

.macbook-pro .text-wrapper-20 {
  color: #ffffff80;
}

.macbook-pro .text-wrapper-21 {
  color: #4897ff;
}

.macbook-pro .text-wrapper-22 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1407px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #343434;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .frame-21 {
  display: flex;
  width: 299px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 31px 52px 30px 54px;
  position: relative;
  background-color: #4897ff;
  border-radius: 50px;
}

.macbook-pro .frame-22 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.macbook-pro .text-wrapper-23 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  letter-spacing: 0;
  line-height: normal;
}

